<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snowmire</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="~/Content/Skull-Icon3.png" class="m-2 align-self-start"width="24" height="24"/>Snowmire</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex ">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", new { controller = "Home" }, new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("About", "About", new { controller = "Home" }, new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", new { controller = "Home" }, new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("API", "values", new { controller = "api" }, new { @class = "nav-link active" })
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
            @RenderBody()

            <footer class="text-center col-md-12">
                <hr />
                <p>
                    &copy; @DateTime.Now.Year - By Andrei Mosin - Most of the content of this site is bound to change. And code refactored.
                    <img src="~/Content/Draven.png" style="width:32px; height:32px;" />
                </p>
            </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
